<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="main-content" th:fragment="main">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li><i class="ace-icon fa fa-home home-icon"></i> <a
						th:href="@{'/admin/home'}">Trang chủ</a></li>
				</ul>
				<!-- /.breadcrumb -->
			</div>
			<div class="page-content">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box table-filter">
							<div class="table-btn-controls">
								<div class="pull-right tableTools-container">
									<div class="dt-buttons btn-overlap btn-group">
										<a flag="info"
											class="dt-button buttons-colvis btn btn-white btn-primary btn-bold"
											data-toggle="tooltip" title='Thêm bài viết'
											th:href="@{'/admin/edit'}"> <span> <i
												class="fa fa-plus-circle bigger-110 purple"></i>
										</span>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<div class="table-responsive">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Ảnh</th>
												<th>Tên</th>
												<th>Giá</th>
												<th>Số lượng</th>
												<th>Mô tả</th>
												<th>Chỉnh sửa</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="item : ${lists}">
												<td><img style="width: 80px; height: 80px;"
													th:src="@{'/img/' + ${item.thumbnail}}"></td>

												<td>[[${item.name}]]</td>
												<td>[[${item.price}]]</td>
												<td>[[${item.quantity}]]</td>
												<td>[[${item.description}]]</td>
												<td class="text-center"><a
													class="btn btn-sm btn-primary btn-edit" th:href="@{'/admin/update?' + ${item.id}}"
													style="width: 39px; height: 33px;" data-toggle="tooltip"
													title="Cập nhật bài viết"><i class="fas fa-edit"
														aria-hidden="true"></i> </a> <a href="#" data-toggle="tooltip"
													style="width: 39px; height: 33px;"
													class="btn btn-sm btn-white btn-edit" title='Xóa bài viết'>
														<span> <i class="fas fa-trash-alt"
															aria-hidden="true"
															style="font-size: 14px; margin-top: 3px;"></i>
													</span>
												</a></td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="text-center">
									<nav aria-label="Page navigation example">
										<ul class="pagination  float-md-right mb-0">
											<li class="page-item"><a th:if="${currentPage > 1}"
												th:href="@{/admin/list/page/1}" class="page-left"><i
													class="fas fa-angle-double-left"></i></a> <span
												th:unless="${currentPage > 1}"><i
													class="fas fa-angle-double-left"></i></span> &nbsp;&nbsp;&nbsp;</li>

											<li class="page-item"><a th:if="${currentPage > 1}"
												th:href="@{'/admin/list/page/' + ${currentPage - 1}}"
												class="page-left"><i class="fas fa-angle-left"></i></a> <span
												th:unless="${currentPage > 1}"><i
													class="fas fa-angle-left"></i></span> &nbsp;&nbsp;&nbsp;</li>

											<li class="page-item"
												th:each="i : ${#numbers.sequence(1,totalPages)}"><a
												th:if="${i != currentPage}"
												th:href="@{'/admin/list/page/' + ${i}}" class="page-left">[[${i}]]</a><span
												th:unless="${currentPage != i}">[[${i}]]</span>&nbsp;&nbsp;&nbsp;</li>


											<li class="page-item">&nbsp;<a
												th:if="${currentPage < totalPages}"
												th:href="@{'/admin/list/page/' + ${currentPage + 1}}"
												class="page-left"><i class="fas fa-angle-right"></i></a> <span
												th:unless="${currentPage < totalPages}"><i
													class="fas fa-angle-right"></i></span> &nbsp;&nbsp;&nbsp;
											</li>

											<li class="page-item"><a
												th:if="${currentPage < totalPages}"
												th:href="@{'/admin/list/page/' + ${totalPages}}"
												class="page-left"><i class="fas fa-angle-double-right"></i></a>
												<span th:unless="${currentPage < totalPages}"><i
													class="fas fa-angle-double-right"></i></span></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>