@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: "Poppins", sans-serif;
}

.main-content-inner .row {
	margin-right: -12.5px;
	margin-left: -12.5px;
}

.bg-info, .bg-info>a {
	color: #fff !important;
}

.bg-info {
	background-color: #17a2b8 !important;
}

.small-box {
	border-radius: .25rem;
	box-shadow: 0 0 1px rgb(0 0 0/ 13%), 0 1px 3px rgb(0 0 0/ 20%);
	display: block;
	margin-bottom: 20px;
	position: relative;
}

.small-box>.inner {
	padding: 15px;
}

.small-box h3, .small-box p {
	z-index: 5;
}

.bg-success {
	background-color: #28a745 !important;
}

.small-box h3 {
	font-size: 3rem;
	font-weight: 700;
	margin: 10px 0 5px;
	padding: 0;
	white-space: nowrap;
	line-height: 1.2;
}

.small-box p {
	font-size: 1.5rem;
}

.small-box .icon {
	color: rgba(0, 0, 0, .15);
	z-index: 0;
}

.small-box .icon svg {
	font-size: 70px;
	top: 20px;
	position: absolute;
	right: 15px;
	transition: -webkit-transform .3s linear;
	transition: transform .3s linear;
	transition: transform .3s linear, -webkit-transform .3s linear;
}

.small-box>.small-box-footer {
	background-color: rgba(0, 0, 0, .1);
	color: rgba(255, 255, 255, .8);
	display: block;
	padding: 3px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	z-index: 10;
}

.small-box:hover {
	text-decoration: none;
}

.bg-success, .bg-success>a {
	color: #fff !important;
}

.bg-warning {
	background-color: #ffc107 !important;
}

.small-box:hover {
	text-decoration: none;
}

.bg-warning, .bg-warning>a {
	color: #1f2d3d !important;
}

.small-box:hover {
	text-decoration: none;
}

.bg-danger, .bg-danger>a {
	color: #fff !important;
}

.bg-danger {
	background-color: #dc3545 !important;
}

h4 {
	font-size: 18px;
	font-weight: 400;
}

.traffic-chart {
	min-height: 335px;
}

.traffic-chart {
	height: 34vh;
}

.ct-grid {
	stroke: rgba(0, 0, 0, .2);
	stroke-width: 1px;
	stroke-dasharray: 2px;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie
	{
	fill: #d70206;
}

.traffic-chart .ct-series-c .ct-area, .traffic-chart .ct-series-c .ct-slice-donut-solid,
	.traffic-chart .ct-series-c .ct-slice-pie {
	fill: #5c6bc0;
}

.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie
	{
	fill: #f4c63d;
}

.traffic-chart .ct-series-b .ct-area, .traffic-chart .ct-series-b .ct-slice-donut-solid,
	.traffic-chart .ct-series-b .ct-slice-pie {
	fill: #ef5350;
}

.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie
	{
	fill: #f05b4f;
}

.traffic-chart .ct-series-a .ct-area, .traffic-chart .ct-series-a .ct-slice-donut-solid,
	.traffic-chart .ct-series-a .ct-slice-pie {
	fill: #66bb6a;
}

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie
	{
	fill: #d70206;
}

.traffic-chart .ct-area {
	fill-opacity: .7;
}

.ct-area {
	stroke: none;
	fill-opacity: .1;
}

.ct-label.ct-horizontal.ct-end {
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	-webkit-box-pack: flex-start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	text-align: left;
	text-anchor: start;
}

.ct-chart-bar .ct-label, .ct-chart-line .ct-label {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.ct-label {
	fill: rgba(0, 0, 0, .4);
	color: rgba(0, 0, 0, .4);
	font-size: 1rem;
	line-height: 1;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.card {
	border-radius: 5px;
	padding: 0;
	border: 0px solid transparent;
	-webkit-box-shadow: 0 0 20px rgb(0 0 0/ 8%);
	box-shadow: 0 0 20px rgb(0 0 0/ 8%);
}

.card .card-body {
	float: left;
	padding: 1.25em;
	position: relative;
	width: 100%;
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.progress-box {
	margin-bottom: 25px;
}

.progress-box .por-title {
	font-size: 1em;
	font-weight: 600;
	color: #868e96;
	margin: 0;
}

.progress-box .por-txt {
	font-size: 13px;
}

.mb-2, .my-2 {
	margin-bottom: .5rem !important;
}

.progress {
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.bg-flat-color-1 {
	background: #00c292;
}

.bg-flat-color-1 {
	background: #00c292;
}

.progress-bar {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #007bff;
	transition: width .6s ease;
}

.bg-flat-color-1 {
	background: #00c292;
}

.bg-flat-color-4 {
	background: #fb9678;
}

.bg-flat-color-3 {
	background: #03a9f3;
}

.bg-flat-color-2 {
	background: #ab8ce4;
}