<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- navbar -->
	<div id="navbar" class="navbar navbar-default ace-save-state"
		th:fragment="navbar">
		<div class="navbar-container ace-save-state" id="navbar-container">
			<div class="navbar-header pull-left">
				<a href="#" class="navbar-brand"> <small> <i
						class="fa fa-leaf"></i> Trang quản trị
				</small>
				</a>
			</div>
			<div
				class="navbar-buttons navbar-header pull-right collapse navbar-collapse"
				role="navigation">
				<ul class="nav ace-nav">
					<li class="light-blue dropdown-modal"><a
						data-toggle="dropdown" href="#" class="dropdown-toggle" sec:authorize="isAuthenticated()"> Xin
							chào <b><span sec:authentication="principal.firstName"></span></b>
									<b><span sec:authentication="principal.lastName"></span></b> </a>
					<li class="light-blue dropdown-modal"><a href='#' th:href="@{/logout}"> <i
							class="ace-icon fa fa-power-off"></i> Thoát
					</a></li>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>