<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/footer/footer.css">
<link rel="stylesheet" href="/css/responsive/responsive.css">
<link rel="stylesheet" href="/css/menu/menu.css">
<link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
	<!-- header -->
	<div th:replace="header/home :: header"></div>

	<div class="main-container">
		<section class="page-top page-header-7">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumbs-wrap text-center">
							<ul class="breadcrumb">
								<li class="home"><a href="/" title="Back to the frontpage">Home</a>
									<i class="fas fa-angle-right"></i></li>
								<li><span>Create Account</span></li>
							</ul>
						</div>
						<div class="text-center">
							<h1 class="page-title">
								<span>My Account</span>
							</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- form login -->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 main-content">
					<div class="account-login-register">
						<div id="CustomerLoginForm" class="form-vertical">
							<div class="row">
								<div class="col-md-6 mx-auto mb-5">
									<!-- success message -->
									<div th:if="${param.success}">
										<div class="alert alert-info">You have successfully
											registered !</div>
									</div>
									<div class="form-box">
										<h3 class="font-weight-bold mb-2">Register</h3>
										<div class="content">
											<form action="#" th:action="@{/registration}" method="post"
												th:object="${user}">
												<ul class="form-list">
													<li><label for="firstName" class="hidden-label"><span>First
																Name</span><em>*</em></label> <input type="text"
														th:field="*{firstName}" id="firstName" class="input-full"
														autofocus required></li>
													<li><label for="lastName" class="hidden-label"><span>Last
																Name</span><em>*</em></label> <input type="text" id="lastName"
														th:field="*{lastName}" class="input-full" required></li>
													<li><label for="email" class="hidden-label">
															<span>Email Address</span><em>*</em>
													</label> <input type="email" id="email" th:field="*{email}" class="input-full"
														autofocus required></li>
													<li><label for="password" class="hidden-label">
															<span>Password</span><em>*</em>
													</label> <input type="password" id="password" th:field="*{password}"
														class="input-full" required></li>
													<li class="mb-3">
														<p class="">* Required Fields</p>
														<button title="Submit" class="btn btn-dark w-100">
															<span type="submit">Submit</span>
														</button>
													</li>
													<li class="mb-lg-0">
														<button type="button" title="Create an Account"
															class="btn w-100 btn-dark">
															<a th:href="@{/login}"><span>Sign In</span></a>
														</button>
													</li>
												</ul>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer th:replace="footer/home_css :: footer"></footer>

	<!-- Jquery -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/all.min.js"></script>
	<script src="/js/lightslider.js"></script>
	<script src="/js/style.js"></script>
</body>
</html>